

<ion-content class="ion-padding">
<img src="assets/imgs/logo.png" class="logo">
<p class="logintop">Forgot Your Password?</p>
<br>
<p class="logintop4">Enter your email address and we will send you instruction on how to create a new password.</p>
<ion-item>
  <ion-label position="floating" class="labl">Email</ion-label>
  <ion-input></ion-input>
</ion-item>

<p class="logintop5" (click)="back()"><span class="symbol"><<</span> Back to Login</p>
	<ion-button shape="round" expand="full">SUBMIT</ion-button>
	
</ion-content>
