<ion-content>
    <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="create" class="cre">
            <p class="seg">Game Track</p>
        </ion-segment-button>
        <ion-segment-button value="join" class="joi">
            <p class="seg">Active Player</p>
        </ion-segment-button>
    </ion-segment>

    <div class="tab_container" [ngSwitch]="tab">
        <!-- About Start -->
        <ion-list no-lines *ngSwitchCase="'create'" class="lst">
            <ion-card class="mapcrd">
                <ion-row>
                    <ion-col size="2">
                        <ion-icon name="navigate-circle" class="pin"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <p class="crdp">Some Detail</p>
                    </ion-col>
                    <ion-col size="2" (click)="dropdown($event)">
                        <ion-icon name="menu" class="menu"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-card>
            <agm-map
                [latitude]="latitude"
                [longitude]="longitude"
                [styles]="styles"
                [zoom]="zoom"
            >
                <agm-marker [latitude]="latitude" [longitude]="longitude">
                </agm-marker>
            </agm-map>
        </ion-list>
        <ion-list no-lines *ngSwitchCase="'join'" class="lst">
            <ion-card class="playercrd">
                <ion-row>
                    <ion-col size="4">
                        <img src="assets/imgs/man-1.jpg" class="dp" />
                    </ion-col>
                    <ion-col>
                        <p class="tit">xXxYourMom69</p>
                        <p class="lev">Level: 80</p>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card class="playercrd">
                <ion-row>
                    <ion-col size="4">
                        <img src="assets/imgs/man-1.jpg" class="dp" />
                    </ion-col>
                    <ion-col>
                        <p class="tit">TheDude</p>
                        <p class="lev">Level: 10</p>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card class="playercrd">
                <ion-row>
                    <ion-col size="4">
                        <img src="assets/imgs/man-1.jpg" class="dp" />
                    </ion-col>
                    <ion-col>
                        <p class="tit">Mikasa332</p>
                        <p class="lev">Level: 43</p>
                    </ion-col>
                </ion-row>
            </ion-card>
            <ion-card class="playercrd">
                <ion-row>
                    <ion-col size="4">
                        <img src="assets/imgs/man-1.jpg" class="dp" />
                    </ion-col>
                    <ion-col>
                        <p class="tit">Makaronar1002</p>
                        <p class="lev">Level: 80</p>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
