<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Active Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="playercrd">
    <ion-row>
      <ion-col size="4">
        <img src="assets/imgs/man-1.jpg" class="dp">
      </ion-col>
      <ion-col>
        <p class="tit">Room-Park</p>
        <p class="lev">Players: 6</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="playercrd">
    <ion-row>
      <ion-col size="4">
        <img src="assets/imgs/man-1.jpg" class="dp">
      </ion-col>
      <ion-col>
        <p class="tit">Room-Center</p>
        <p class="lev">Players: 10</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="playercrd">
    <ion-row>
      <ion-col size="4">
        <img src="assets/imgs/man-1.jpg" class="dp">
      </ion-col>
      <ion-col>
        <p class="tit">Room-Park2</p>
        <p class="lev">Players 12</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="playercrd">
    <ion-row>
      <ion-col size="4">
        <img src="assets/imgs/man-1.jpg" class="dp">
      </ion-col>
      <ion-col>
        <p class="tit">Room-Lent</p>
        <p class="lev">Players: 6</p>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>