<ion-content>
    <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="game" class="cre">
            <p class="seg">Game Track</p>
        </ion-segment-button>
        <ion-segment-button value="settings" class="joi">
            <p class="seg">Game Settings</p>
        </ion-segment-button>
    </ion-segment>

    <div class="tab_container" [ngSwitch]="tab">
        <div *ngSwitchCase="'game'">
            <agm-map
                [latitude]="latitude"
                [longitude]="longitude"
                [zoom]="zoom"
            >
                <agm-marker
                    [latitude]="latitude"
                    [longitude]="longitude"
                ></agm-marker>
                <agm-circle
                    [latitude]="latitude"
                    [longitude]="longitude"
                    [radius]="radius"
                    [fillColor]="'#1FBAD6'"
                ></agm-circle>
            </agm-map>
        </div>

        <ion-list no-lines *ngSwitchCase="'settings'" class="lst">
            <ion-button (click)="geoInformation()" expand="block">
                Get Location
            </ion-button>

            <ion-item>
                <strong>Location Information</strong>
            </ion-item>

            <ion-item>
                <ion-label>Latitue</ion-label>
                <ion-badge color="secondary">{{ latitude }}</ion-badge>
            </ion-item>

            <ion-item>
                <ion-label>Longitude</ion-label>
                <ion-badge color="tertiary">{{ longitude }}</ion-badge>
            </ion-item>

            <ion-item>
                <strong>Address</strong>
            </ion-item>

            <ion-item>
                {{ address }}
            </ion-item>

            <ion-item>
                <ion-label><strong>Accuracy</strong></ion-label>
                <ion-badge>{{ accuracy }}</ion-badge>
            </ion-item>

            <ion-item>
                <ion-label><strong>Radius</strong></ion-label>
                <ion-badge>{{ radius }}</ion-badge>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
