<ion-content>
    <ion-segment [(ngModel)]="tab">
        <ion-segment-button value="game" class="cre">
            <p class="seg">Game Track</p>
        </ion-segment-button>
        <ion-segment-button value="settings" class="joi">
            <p class="seg">Game Settings</p>
        </ion-segment-button>
    </ion-segment>

    <div class="tab_container" [ngSwitch]="tab">
        <div *ngSwitchCase="'game'">
            <app-map></app-map>
        </div>

        <div *ngSwitchCase="'settings'">
            <app-game-settings></app-game-settings>
        </div>
    </div>
</ion-content>
