<ion-content>
    <agm-map
        *ngIf="!isGameEnd && !isGameStart"
        [latitude]="currentPlayerLocation?.lat"
        [longitude]="currentPlayerLocation?.lng"
        [zoom]="mapSettings.zoom"
        [disableDefaultUI]="true"
        [usePanning]="true"
    >
        <agm-marker
            *ngFor="let player of playersLocations"
            [latitude]="player.lat"
            [longitude]="player.lng"
        ></agm-marker>
        <agm-circle
            *ngFor="let player of playersLocations"
            [latitude]="player.lat"
            [longitude]="player.lng"
            [radius]="mapSettings.playerRadius"
            [fillColor]="'green'"
        ></agm-circle>

        <agm-marker
            *ngIf="!isEliminated"
            [latitude]="currentPlayerLocation?.lat"
            [longitude]="currentPlayerLocation?.lng"
        ></agm-marker>
        <agm-circle
            *ngIf="!isEliminated"
            [latitude]="currentPlayerLocation?.lat"
            [longitude]="currentPlayerLocation?.lng"
            [radius]="mapSettings.playerRadius"
            [fillColor]="'red'"
        ></agm-circle>

        <agm-circle
            [latitude]="mapSettings.latitude"
            [longitude]="mapSettings.longitude"
            [radius]="mapSettings.radius"
            [fillColor]="colorOptions[selectedColor].value"
        ></agm-circle>
    </agm-map>

    <div *ngIf="isGameEnd || isGameStart">
        <ion-row class="end-game ion-align-items-center">
            <ion-col class="ion-text-center">
                <img src="assets/imgs/logo.png" alt="HideNSneak logo" />
                <h1 *ngIf="isGameStart">START GAME</h1>
                <h1 *ngIf="isGameEnd">END GAME</h1>
                <h3 *ngIf="isGameStart">{{ seconds }}</h3>
                <ion-button
                    *ngIf="!isGameStart"
                    shape="round"
                    (click)="playNewGame()"
                >
                    Play new game!
                </ion-button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
