ion-toolbar {
    --background: #f3f3f3;
}
ion-content.md.hydrated {
    --background: #f3f3f3;
}
ion-progress-bar.md.progress-bar-determinate.hydrated {
    height: 65%;
    --background: #eaeaea;
    --progress-background: linear-gradient(-90deg, #00eacb, #00b6ff);
}
agm-map {
    height: 381px;
}

.tit {
    font-weight: bold;
    font-size: 17px;
    color: black;
    margin-bottom: 0;
}
.playercrd {
    border-radius: 20px;
    padding: 2%;
    background: linear-gradient(136deg, #a77bc0, #36abe0);
}
.lev {
    font-size: 12px;
    margin: 0px;
    font-weight: bold;
    margin-top: 4px;
    color: #c7c7c7;
}

.dp {
    border-radius: 50%;
    width: 65px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: 4%;
}
