<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Active Games</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="playercrd" *ngFor="let room of rooms">
        <ion-row>
            <ion-col size="4">
                <img src="assets/imgs/man-1.jpg" class="dp" />
            </ion-col>
            <ion-col>
                <p class="tit">{{ room?.name }}</p>
                <p class="lev">Max Players: {{ room?.maxPlayers }}</p>
                <p class="lev">Join Code: {{ room?.joinCode }}</p>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
