<agm-map
    [latitude]="mapSettings.latitude"
    [longitude]="mapSettings.longitude"
    [zoom]="mapSettings.zoom"
    [disableDefaultUI]="true"
    [usePanning]="true"
>
    <agm-marker
        *ngFor="let player of playersLocations"
        [latitude]="player.lat"
        [longitude]="player.lng"
    ></agm-marker>
    <agm-circle
        [latitude]="mapSettings.latitude"
        [longitude]="mapSettings.longitude"
        [radius]="mapSettings.accuracy"
        [fillColor]="'#1FBAD6'"
    ></agm-circle>
</agm-map>
